.Searchbar {
  width: 100%;
  height: 50px;

  background-color: cornflowerblue;
}

.SearchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-top: 10px;
}

.SearchFormInput {
  height: 20px;
  width: 200px;
  padding: 5px;

  border-radius: 3px;
  border: none;
}

.SearchFormButton {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-right: 10px;

  border-radius: 3px;
  border: none;
}
